*  {
    height: 100%;
    width: 100%;
    max-width: 960px;
}
#hi {
    background-color: black;
    color: green;
}
#conclusion {
    background-color: black;
    color: white;
}
#osogbo {
    color:blue;
}
